.container {
    margin: 50px auto;
    max-width: 90%;
    width: 85%;
    max-height: 100px;
    height: 50px;
}
.red1 {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin: 12px;
}
.green1 {
    background-color: green;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin: 12px;
}
.blue1 {
    background-color: blue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin: 12px;
}

.container1{
    border: 5px solid black;
    margin: 20px auto;
    max-width:760px;
    width: 760px;
    /* height: 250px; */
}
.a1{
    padding-top: 60px;
}
.a11{
    margin-left: 10px;
}
b{
    padding-left: 25px;
}
.a2{
    text-align: center;
    padding-top: 50px;
}
.a3{
    padding-top: 50px;
    text-align: center;
}
#start{
    margin: 20px;
}
#reset{
    margin: 20px;
}